/*============ SCROLL BAR ============*/
::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;    
}

::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.8);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 0.8rem;
    /* box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05); */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.4);
}
/*============ SCROLL BAR ============*/